@model IEnumerable<Rad302CA.Models.Order>

<div class="jumbotron">
    <h1>ASP.NET</h1>
  
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Address</div>
            <div class="panel-body" style="overflow-x:hidden; height:400px">
                @foreach(var item in Model)
                {
                    <p>@item.OrderID</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
   
    </div>
    <div class="col-md-6">
       <div class="gmap"></div>
    </div>
</div>
