@model IEnumerable<Rad302CA.Models.Order>

<div class="jumbotron">
    <h1>ASP.NET</h1>
  
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Address</div>
            <div class="panel-body" style="overflow-x:hidden; height:400px">
                <table class="table-striped table-condensed" id="ordersTbl">
                    @foreach (var item in Model)
                    {
                        <tr style="cursor:pointer"><td>@item.OrderID</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
   
    </div>
    <div class="col-md-6">
       <div class="gmap"></div>
    </div>
</div>

<script>
    $(function () {

    });

</script>